pesoneels_data_scheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ssn" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="hiredate" type="xs:string" />
        <xs:element name="salary" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="performance" type="xs:string" />
        <xs:element name="position" type="xs:string" />
        <xs:element name="location" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>